/* @import './components/components'; */

body {
  font-family: "Roboto", sans-serif;
  width: 1920px;
}

.first-screen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/background_01.jpg);

  height: 844px;
}

.header {
}

.logo {
  display: block;
  background-image: url(../img/simple_cloud_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 329px;
  height: 113px;
}

.logo-img {
  width: 260px;
  height: 89px;
  background-position: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  list-style: none;

  background-image: url(../img/simple_cloud_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 446px;
  height: 102px;

  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.header-title {
  width: 578px;
  margin: 0 auto;

  color: #f9e994;
  font-weight: bold;
  font-size: 52px;

  text-align: center;
}

.articles-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.articles-block__first {
  color: #f6f7e4;
  font-weight: bold;
  font-size: 28px;

  width: 439px;
}

.articles-block__first--list {
  color: #dfe4de;
  list-style: url(../img/cat_paw.svg);
  background-color: #7fb3e1;
  border-radius: 10px;

  width: 328px;
  height: 266px;

  font-size: 22px;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.form {
  background-color: #fff;
  width: 270px;
  height: 460px;

  border-radius: 10px;
}

.form-rectangle {
  background-image: url(../img/rectangle_01.png);
  height: 190px;
}

.input {
  margin: 5px auto;
  width: 220px;
  height: 50px;

  border-radius: 20px;
}

.svg {
  fill: black;
  width: 18px;
  height: 18px;
}

.button {
  display: flex;
  justify-content: center;

  margin: auto;
  padding: 0;

  width: 227px;
  height: 50px;
  border-radius: 20px;

  background-color: #a1d337;
  color: #fff;

  font-weight: bold;
  font-size: 30px;

  text-transform: uppercase;
}

.second-screen {
  background-image: url(../img/background_02.jpg);
  background-repeat: repeat;

  height: 671px;

  margin: 52px 66px 38px;
}

.second-screen__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
}

.second-screen__item {
  margin-right: 84px;

  text-align: center;

  width: 305px;
  height: 439px;

  background-color: #f6e791;

  border-radius: 15px;
}

.second-screen__title {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  font-size: 52px;
  font-weight: bold;
  background: linear-gradient(
    rgb(249, 233, 149),
    rgb(83, 125, 19),
    rgb(72, 60, 8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.second-screen__text-block {
  background-color: rgba(161, 211, 55, 0.4);
  border-radius: 15px;

  width: 275px;
  height: 218px;

  margin: auto auto 15px;

  text-align: center;

  font-size: 18px;
}

.second-screen__text-block__title {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.third-screen {
  height: 770px;

  background: linear-gradient(
    rgba(225, 237, 248, 1),
    rgba(127, 179, 225, 0),
    rgba(0, 0, 0, 0.25)
  );
}

.third-screen__title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-top: 0;

  font-size: 52px;
  font-weight: bold;

  color: #537d13;
}

.third-screen__info-block {
  width: 1088px;
  height: 354px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.third-screen__text {
  background-image: url(../img/rectangle_02.png);
  display: block;
  width: 760px;
  height: 354px;
  padding: 40px 95px 40px 40px;

  font-size: 18px;
  line-height: 23px;

  margin: 0 29px 0 0;

  /* margin-right: 26px; */
}

.third-screen__image {
  display: flex;

  align-self: center;
  width: 300px;
  height: 300px;
}

.caca {
  padding-top: 20px;
}
