/* @import './components/components'; */

body {
  width: 1920px;

  font-family: "Roboto", sans-serif;
}

.first-screen {
  height: 844px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/background_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
}

.logo {
  width: 329px;
  height: 113px;

  margin-right: 387px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../img/simple_cloud_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-img {
  width: 260px;
  height: 89px;

  /* position: relative; */
  /* top: ; */

  background-position: center;
}

.nav-menu {
  padding-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-menu__list {
  width: 446px;
  height: 102px;

  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-image: url(../img/simple_cloud_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  list-style: none;

  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-menu__item {
  color: #715d00;
  transition: color ease-in-out 0.5s;
}

.nav-menu__item:hover {
  color: salmon;
  transition: color ease-in-out 0.5s;
}

.header-title {
  width: 578px;

  margin: 20px auto 0;

  text-align: center;

  color: #f9e994;
  font-weight: bold;
  font-size: 52px;
}

.articles-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  position: relative;

  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
}

.articles-block__first {
  width: 439px;

  margin-top: 42px;

  color: #f6f7e4;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;

  text-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
}

.articles-block__list {
  width: 328px;
  height: 266px;

  margin-top: 60px;
  margin-bottom: 0;
  padding-left: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #dfe4de;
  list-style: url(../img/cat_paw.svg);
  background-color: #7fb3e1;
  border-radius: 15px;

  font-size: 22px;

  text-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

.cats-div {
  position: absolute;
  top: 15%;
}

.cats-img {
  width: 710px;
  height: 410px;

  position: relative;

  left: 8%;
  z-index: 50;
}

.form {
  width: 270px;
  height: 460px;

  position: relative;
  left: 3%;

  background-color: #fff;
  border-radius: 15px;

  text-align: center;
}

.form-rectangle {
  width: 103%;
  height: 187px;

  margin: 0 0 0 -4px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url(../img/rectangle_01.png);

  border-radius: 17px;
}

.form-title {
  display: inline-block;
  margin-top: 23px;
  margin-bottom: 10px;

  color: #483c08;

  font-size: 33px;
  font-weight: bold;
}

.form-timer {
  margin: 0 0 10px 0;
  color: #f6e791;
  font-size: 36px;
  font-weight: bold;
}

.old-price {
  color: #6b6b6b;
  margin-right: 20px;
  font-size: 30px;
}

.old-price:before {
  border-bottom: 2px solid #f6be91;
  position: absolute;
  content: "";
  width: 36%;
  height: 5%;
  transform: rotate(-10deg);
}

.new-price {
  color: #483c08;
  font-size: 36px;
}

.input {
  padding-left: 55px;

  width: 220px;
  height: 50px;

  margin: 20px auto 0;

  background-color: #f3efef;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 22px;

  font-size: 16px;
}

.input:last-of-type {
  margin-bottom: 15px;
}

.input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

.input::placeholder {
  color: #777777;
  font-weight: bold;
  font-size: 16px;
  fill: tomato;
  stroke: tomato;
}

.form__icon {
  width: 24px;
  height: 24px;

  margin-top: 32px;
  position: absolute;
  right: 72%;

  fill: gray;
  stroke: gray;
}

.button {
  width: 227px;
  height: 50px;

  margin: auto;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 22px;
  border-color: rgba(0, 0, 0, 0);

  background-color: #a1d337;
  color: #fff;

  font-weight: bold;
  font-size: 30px;

  text-transform: uppercase;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  color: salmon;
  cursor: pointer;
}

.date {
  color: #444444;
  font-weight: normal;
  font-size: 18px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
}

.second-screen {
  height: 671px;

  margin: 52px 66px 38px;

  background-image: url(../img/background_02.jpg);
  background-repeat: repeat;
}

.second-screen__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
}

.second-screen__item {
  width: 305px;
  height: 439px;

  margin-right: 84px;

  position: relative;

  text-align: center;

  background-color: #f6e791;
  border-radius: 15px;
}

.img-thumb {
  width: 212px;
  height: 212px;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-screen__title {
  display: flex;
  justify-content: center;

  font-size: 52px;
  font-weight: bold;
  background: linear-gradient(
    rgb(249, 233, 149),
    rgb(83, 125, 19),
    rgb(72, 60, 8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.second-screen__text-block {
  width: 275px;
  height: 218px;

  margin: 0 auto 15px;
  padding-left: 15px;
  padding-right: 15px;

  position: relative;
  bottom: 2%;

  text-align: center;

  background-color: rgba(161, 211, 55, 0.4);
  border-radius: 15px;

  font-size: 18px;
}

.second-screen__text-block__title {
  /* margin-top: 30px; */
  padding-top: 30px;

  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.third-screen {
  height: 770px;

  background: linear-gradient(
    rgba(225, 237, 248, 1),
    rgba(127, 179, 225, 0),
    rgba(0, 0, 0, 0.25)
  );
}

.third-screen__title {
  padding-top: 100px;
  margin-top: 0;

  display: flex;
  justify-content: center;

  color: #537d13;
  font-size: 52px;
  font-weight: bold;
}

.third-screen__info-block {
  width: 1088px;
  height: 354px;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.third-screen__text {
  width: 760px;
  height: 354px;

  margin: 0 29px 0 0;
  padding: 40px 95px 40px 40px;

  display: block;

  background-image: url(../img/rectangle_02.png);

  font-size: 18px;
  line-height: 23px;
}

.third-screen__image {
  width: 300px;
  height: 300px;

  display: flex;
  align-self: center;
}

.grass {
  position: relative;
  top: 5%;
}
